@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  white-space: pre-line;
}

@font-face {
  font-family: Onciale;
  src: url("./fonts/onciale.ttf");
}
.global-header::after {
  background: url("../assets/header-background.svg") repeat-x 50% 100%/1200px 144px;
  height: 100%;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: theme("colors.header");
  z-index: -1;
}
.global-footer {
  position: relative;
  margin-top: 48px;
}
.global-footer::before {
  content: "";
  background: url("../assets/footer-top.svg") repeat-x 50% 100%/1280px 48px;
  background-color: theme("colors.background--light");
  position: absolute;
  height: 48px;
  width: 100%;
  top: -48px;
  left: 0;
}

.altered-after,
.altered-before {
  position: relative;
}

.altered-after::after,
.altered-before::before {
  content: "";
  background: url("../assets/content-divider.svg") repeat-x 50% 50% / auto 100%;
  background-size: auto 22px;
  position: absolute;
  height: 22px;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
.altered-after::after {
  bottom: -12px;
}
.altered-before::before {
  top: -12px;
}
.anchor {
  scroll-margin-top: 104px;
}
.bg-paper {
  background-image: url("../assets/natural-paper.png");
  background-color: theme("colors.background");
}
.bg-paper--white {
  background-color: theme("colors.background--light");
}

.calligraph-background {
  position: relative;
  overflow: hidden;
}
.calligraph-background-after::after,
.calligraph-background-before::before {
  position: absolute;
  opacity: 0.05;
  font-size: 36px;
  font-family: theme("fontFamily.calligraphy");
  max-width: 50vw;
}

.calligraph-background-after::after {
  bottom: 96px;
  left: -10%;
  transform: rotate(-3deg);
  content: "Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen.";
}
.calligraph-background-before::before {
  top: 0px;
  right: 0px;
  transform: rotate(3deg);
  content: "Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen. Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen.Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen.";
}
.clip-panel {
  clip-path: url(#article-panel);
  width: 100%;
  height: 100%;
}

.display {
  height: calc(theme("height.screen") - theme("maxHeight.header"));
  min-height: 720px;
}
.picture-custom-border-1::before {
  background: url("../assets/photo-border-1.svg") 50% 50%/100% 100% no-repeat;
  z-index: 0;
  display: block;
  content: "";
  position: absolute;
  z-index: 3;
  width: 101.5%;
  height: 102%;
  top: -1.5%;
  left: -1%;
}
.parchment {
  border-image: url("../assets/parchement.svg");
  border-image-repeat: repeat stretch !important;
  border-image-slice: 29 62 28 !important;
  border-image-width: 15px !important;
  border-image-outset: 15px !important;
}
.parchment--horizontal {
  border-image-repeat: stretch repeat !important;
  border-image-slice: 5% 8% !important;
}
.parchment--light {
  border-image: url("../assets/parchement--light.svg");
  background-color: theme("colors.background--light");
}
.parchment--shadow {
  box-shadow: -1px 0px 15px 10px #8a7d72;
}
.primary-btn {
  background: url("../assets/primary-btn.svg") 0 0/100% 100% no-repeat;
  display: inline-block;
  height: 48px;
  color: white;
  position: relative;
  min-width: 140px;
}
.primary-btn:hover {
  background: url("../assets/primary-btn--hover.svg") 0 0/100% 100% no-repeat;
}
.primary-btn::before {
  top: -20px;
  transform: translateX(-50%) rotate(180deg);
}
.primary-btn::after {
  bottom: -22px;
  transform: translateX(-50%);
}
.primary-btn::before,
.primary-btn::after {
  content: "";
  background: url("../assets/primary-btn-decoration.svg");
  position: absolute;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-origin: initial;
  width: 100%;
  left: 50%;
  height: 50%;
  transition: all 300ms;
}
.secondary-btn {
  position: relative;
}
.secondary-btn::after {
  content: "";
  background: url("../assets/secondary-btn-decoration.svg");
  position: absolute;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-origin: initial;
  bottom: -16px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 15px;
}

@screen md {
  .display {
    min-height: 675px;
  }
}
@screen xs {
  .parchment--shadow {
    box-shadow: -1px 0px 15px 10px #8a7d72;
  }
  .anchor {
    scroll-margin-top: 96px;
  }
  .calligraph-background::before,
  .calligraph-background::after {
    max-width: none;
  }
  .calligraph-background::after {
    display: none;
  }
  .display {
    height: max-content;
    min-height: max-content;
  }
}
