@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Onciale;
  src: url("./fonts/onciale.ttf");
}
.altered-after,
.altered-before {
  position: relative;
}

.altered-after::after,
.altered-before::before {
  content: "";
  background: url("../assets/content-divider.svg") repeat-x 50% 50% / auto 100%;
  background-size: auto 22px;
  position: absolute;
  height: 22px;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
.altered-after::after {
  bottom: -12px;
}
.altered-before::before {
  top: -12px;
}
.anchor {
  scroll-margin-top: 104px;
}
body,
.bg-paper {
  background-image: url("../assets/natural-paper.png");
  background-color: theme("colors.background");
}

.calligraph-background {
  position: relative;
  overflow: hidden;
}
.calligraph-background::after,
.calligraph-background::before {
  position: absolute;
  opacity: 0.05;
  font-size: 36px;
  font-family: theme("fontFamily.calligraphy");
  max-width: 50vw;
}

.calligraph-background::after {
  bottom: 96px;
  left: -10%;
  transform: rotate(-3deg);
  content: "Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen.";
}
.calligraph-background::before {
  top: 0px;
  right: 0px;
  transform: rotate(3deg);
  content: "Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen. Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen.Ai! laurië lantar lassi súrinen, yéni únótimë ve rámar aldaron! Yéni ve lintë yuldar avánier mi oromardi lissë-miruvóreva Andúnë pella, Vardo tellumar nu luini yassen tintilar i eleni ómaryo airetári-lírinen.";
}
.clip-panel {
  clip-path: url(#article-panel);
  width: 100%;
  height: 100%;
}

.display {
  height: calc(theme("height.screen") - theme("maxHeight.header"));
  min-height: 720px;
}
.information-bar::before {
  background: url("../assets/information-bar.svg") repeat-x;
  background-size: auto 100%;
  z-index: 0;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.picture-custom-border-1::before {
  background: url("../assets/photo-border-1.svg") 50% 50%/100% 100% no-repeat;
  z-index: 0;
  display: block;
  content: "";
  position: absolute;
  z-index: 3;
  width: 101.5%;
  height: 102%;
  top: -1.5%;
  left: -1%;
}
@screen md {
  .display {
    min-height: 675px;
  }
}
@screen xs {
  .anchor {
    scroll-margin-top: 96px;
  }
  .calligraph-background::before,
  .calligraph-background::after {
    max-width: none;
  }
  .calligraph-background::after {
    display: none;
  }
  .display {
    height: max-content;
    min-height: max-content;
  }
}
